$progressbar-height: 50px;

.progressbar-holder {
  height: $progressbar-height;
  width: 100%;
  position: relative;
  border: 1px solid darkblue;
  text-align: center;
  overflow: hidden;

  .progress {
    height: 100%;
    background-color: lightblue;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: width 0.2s ease-in-out, background-color 0.3s ease;
    -moz-transition: width 0.2s ease-in-out, background-color 0.3s ease;
    -o-transition: width 0.2s ease-in-out, background-color 0.3s ease;
    transition: width 0.2s ease-in-out, background-color 0.3s ease;

    &.overlimit {
      background-color: red;
    }
  }

  .progress-value {
    color: black;
    margin: 0 auto;
    position: relative;
    line-height: $progressbar-height;
  }
}